<template>
  <div class="home">
    <nav class="navbar navbar-light bg-light">
      <span class="navbar-text font-weight-bold">
        Double Calculator
      </span>
    </nav>
    <!-- <img alt="Vue logo" src="../assets/logo.png" /> -->
    <!-- <HelloWorld msg="Welcome to Your cccc Vue.js App" /> -->
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <CalculatorA />
        </div>
        <div class="col-sm-4">
          <CalculatorB />
        </div>
        <div class="col-sm-4">
          <History />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import CalculatorA from "@/components/CalculatorA.vue";
import CalculatorB from "@/components/CalculatorB.vue";
import History from "@/components/History.vue";

export default {
  name: "Home",
  components: {
    CalculatorA,
    CalculatorB,
    History
  }
};
</script>
