<template>
  <div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 text-left pr-4">
          <div class="row pb-3">
            <label for="">Calculator A</label>
          </div>
          <div class="row">
            <div class="col-sm-12 calculate-box p-4">
              <div class="row">
                <div class="col-sm-12 text-left">
                  <div class="col-sm-12 border-bottom" v-cloak>{{ result }}</div>
                  <div class="col-sm-12" v-cloak>{{ formula }}</div>
                </div>
              </div>
              <div class="row pt-2">
                <div class="col-sm-9">
                  <div class="row pb-2">
                    <div class="col-sm-4 pr-0">
                      <button class="btn-lg bg-blue w-100" type="submit" @click="cleanAll()">C</button>
                    </div>
                    <div class="col-sm-4 pr-0">
                      <button class="btn-lg bg-blue w-100" type="submit" @click="operate('*')">x</button>
                    </div>
                    <div class="col-sm-4 pr-0">
                      <button class="btn-lg bg-blue w-100" type="submit" @click="operate('-')">-</button>
                    </div>
                  </div>
                  <div class="row pb-2 pr-0">
                    <div class="col-sm-4 pr-0">
                      <button class="btn-lg bg-blue w-100" type="submit" @click="operate(7)">7</button>
                    </div>
                    <div class="col-sm-4 pr-0">
                      <button class="btn-lg bg-blue w-100" type="submit" @click="operate(8)">8</button>
                    </div>
                    <div class="col-sm-4 pr-0">
                      <button class="btn-lg bg-blue w-100" type="submit" @click="operate(9)">9</button>
                    </div>
                  </div>
                  <div class="row pb-2 pr-0">
                    <div class="col-sm-4 pr-0">
                      <button class="btn-lg bg-blue w-100" type="submit" @click="operate(4)">4</button>
                    </div>
                    <div class="col-sm-4 pr-0">
                      <button class="btn-lg bg-blue w-100" type="submit" @click="operate(5)">5</button>
                    </div>
                    <div class="col-sm-4 pr-0">
                      <button class="btn-lg bg-blue w-100" type="submit" @click="operate(6)">6</button>
                    </div>
                  </div>
                  <div class="row pb-2">
                    <div class="col-sm-4 pr-0">
                      <button class="btn-lg bg-blue w-100" type="submit" @click="operate(1)">1</button>
                    </div>
                    <div class="col-sm-4 pr-0">
                      <button class="btn-lg bg-blue w-100" type="submit" @click="operate(2)">2</button>
                    </div>
                    <div class="col-sm-4 pr-0">
                      <button class="btn-lg bg-blue w-100" type="submit" @click="operate(3)">3</button>
                    </div>
                  </div>
                  <div class="row pb-2">
                    <div class="col-sm-8 pr-0">
                      <button class="btn-lg bg-blue" style="width:100%" type="submit" 
                      @click="operate(0)">0</button>
                    </div>
                    <div class="col-sm-4 pr-0">
                      <button class="btn-lg bg-blue" style="width:100%" type="submit" 
                      @click="operate('.')">.</button>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="row">
                    <div class="col-sm-12 pr-0">
                      <button class="btn-lg bg-blue w-100" type="submit" style="height: 99px;"  
                      @click="operate('+')">+</button>
                    </div>
                    <div class="col-sm-12 pb-2"></div>
                    <div class="col-sm-12 pb-2 pr-0">
                      <button class="btn-lg bg-blue w-100" type="submit" style="height: 154px;"
                      @click="equal()">=</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
var moment = require("moment");
export default {
  name: "CalculatorA",
  props: {
    msg: String
  },
  data() {
    return {
     formula :"",
     result : 0,
     historyA: [],
     newTodo: '',
     todos: [],
     history: []
    };
  },
  mounted(){
    if (localStorage.getItem('historyA')) this.historyA = JSON.parse(localStorage.getItem('historyA'));
    console.log('mount history A',this.historyA);

    if (localStorage.getItem('todos')) this.todos = JSON.parse(localStorage.getItem('todos'));
    if (localStorage.getItem('history')) this.history = JSON.parse(localStorage.getItem('history'));

    },
  watch: {
    historyA: {
      handler() {
        console.log('historyA changed!');
        localStorage.setItem('historyA', JSON.stringify(this.historyA));
      },
      deep: true,
    }
  },
  methods: {
    operate(element){
      this.formula +=element;
    },
    cleanAll(){
      this.formula = "";
      this.result = 0;
    },
    equal(){
      let today = new Date();
      let convertFormatDate =  moment(today).format('DD/MM/YYYY - hh:mm');

      this.axios.get('http://api.mathjs.org/v4/?expr=' + encodeURIComponent(this.formula))
      .then(response => {
        console.log('result from api 2',response); 
        // JSON responses are automatically parsed.
        this.result = response.data;
          this.historyA.push({
            'formula': this.formula,
            'result': this.result,
            'date': convertFormatDate,
            'calculatorName': "calculator A"
          });
          console.log('equal push',this.historyA);

      }).catch(e => {
        console.log("ERROR-->",e.msg);
      })
      console.log('result',this.result);
    },
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  .bg-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .calculate-box {
    /* background-color:red; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height:400px;
    border-radius: 20px
  }
  .border-bottom {
    border-bottom: 1px black solid;
  }
  .bg-blue {
    background-color: #A7D4FA;
    border-radius: 20px;
    border: none;
  }
  button:focus {
    outline: none;
    box-shadow: none;
  }
</style>
