<template>
  <div>
    <div class="row">
      <div class="col-sm-12 text-left pr-4">
        <div class="row pb-2">
          <div class="col-sm-2">
            <label for="">Results</label>
          </div>
          <div class="col-sm-6">
            <input type="text" class="form-control" v-model="search"
              placeholder="Search by result,date">
          </div> 
          <div class="col-sm-4">
            <select  class="form-control" v-model="selectSearch" @change="selectedFilter">
              <option value="all">All</option>
              <option value="calculator A">Calculator A</option>
              <option value="calculator B">Calculator B</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 calculate-box p-4">
            <div v-for="(item,index) in filteredList" :key="index">
              <div class="row">
                <div class="col-sm-6 text-left font-16">
                  {{ item.calculatorName }}
                </div>
                <div class="col-sm-6 text-left- font-blue font-16">
                  {{ item.date }}
                </div>
              </div>
              <div class="row" style="font-size:18px">
                <div class="col-sm-12 border-bottom">{{item.result}}</div>
              </div>
              <div class="row">
                <div class="col-sm-12">{{item.formula}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "History",
  props: {
    msg: String
  },
  data () {
    return {
      historyList: [],
      search: "",
      selectSearch: ""
    }
  },
  methods: {
    selectedFilter(val){
      if (localStorage.getItem('historyA')) this.historyList = JSON.parse(localStorage.getItem('historyA'));
        if(this.historyList.length > 0){
          if(val.target.value != "all"){
            var result = this.historyList.filter(e => e.calculatorName == val.target.value)
            console.log('result select',result);
            this.historyList = result;
          }
        }
    }
  },
  computed:{
    filteredList() {
      console.log('filter',this.search);
      if(!this.search){
        return this.historyList;
      }else{
        return this.historyList.filter(e => (e.result == this.search || e.date == this.search));
      }
    },
  },
  mounted(){
    if (localStorage.getItem('historyA')) this.historyList = JSON.parse(localStorage.getItem('historyA'));
    console.log('mount historyList',this.historyList);

    var user1 = {"name":"user1"}; //Object1
    var user2 = {"name":"user2"}; //Object2
    var team = []; //array of objects
    team.push(user1);
    team.push(user2);
    var projects = [];
    projects.push(team);
    console.log(projects);
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
 .font-blue {
   color: #9AC2E3;
 }
 .font-lavender {
   color: #F291E7;
 }
 .font-16 {
   font-size: 16px;
   font-weight: bold;
 }
</style>
